*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #1A5276;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}
nav
{
    width: 95%;
    max-width: 14000px;
}
header nav .fa-arrow-left
{
    color: #ffffff;
    margin-top: 20px;
}

/* content */
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container .content 
{
    width: 95%;
    max-width: 1400px;
}
.container .content .imgftft
{
    width: 100%;
    margin-top: 70px;
}
.container .content .imgftft figure
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.container .content .imgftft figure img
{
    border: 1px solid #000;
    width: 49%;
    margin: 5px;
    transition: transform 0.3s ease;
    position: relative;
}
.container .content .imgftft figure img:active {
    transform: scale(0.98);
}
.container .content .imgftft figure img:nth-child(even) {
    margin-left: auto;
}

.container .content .imgftft figure img:nth-child(odd) {
    margin-right: auto;
}




@media screen and (max-width:430px) {
    header
    {
        display: flex;
        width: 100%;
        height: 50px;
        background-color: #1A5276;
        justify-content: center;
        position: fixed;
        top: 0;
    }
    .container .content .imgftft figure img
    {
        border: 1px solid #000;
        width: 90%;
        margin: 5px;
    }
}